<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ county.county }} County, North Carolina - HealthCarolina</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
{% block heading %}{% if city %}{{ city }} - {% endif %}{{county.county}} County{% endblock %}
{% block content %}
    <p><div style="text-align: center"><img src="/static/img/{{county.county}}_County.png" style="width:500px;"/></div></p>
    <table>
    {% for item in query %}
        <tr>
        {% for key in item.keys() %}
            <td>{{ key }}</td>
        {% endfor %}
        </tr>
        <tr>
        {% for value in item.values() %}
            <td>{{ value }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}
</body>
<footer><div style="text-align: center;"><a href="{{ url_for('feedback') }}">Send Feedback</a></div></footer>
</html>
