<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback Sent - HealthCarolina</title>
<style>
    .main_form {
        color:black;
    }
    .header {
      background: #ff0000;
      color: white;
      font-size: 20px;
    }
    </style>
</head>
<body>
    <div class="header">
    <div style="text-align:center"><h3>HealthCarolina</h3>
    <p>Determinants of Health in North Carolina</p></div>
  </div>
    
    <div style="text-align:center;">
<p><h3>Your comment has been received.</h3></p>
<p><a href="{{ url_for('feedback')}}">Submit another comment?</a></p>
<p><a href="/">Go home</a></p></div>
</body>
</html>
