<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HealthCarolina - Determinants of Health in North Carolina</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
<form method="POST" action="/">
    {{ form.csrf_token }}
    {{ form.location_type }}
    {{ form.county }}
    {{ form.city }}
    {{ form.zip }}
    {{ form.stats }}
    {{ form.ft }}
    {{ form.submit }}
</form>
<script src="/static/js/dynamicfilter.js"></script>
<div style="text-align: center;"><img src="/static/img/healthcarolina.png"></div>
{% block content %}{% endblock %}
</body>
<footer><div style="text-align: center;"><a href="{{ url_for('distance')}}">Find Closest Health Resources</a> |
    <a href="{{ url_for('feedback') }}">Send Feedback</a>
| <a href="{{ url_for('export') }}">Export Data</a></div></footer>
</html>
