<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ stat.displayname }} in North Carolina - HealthCarolina</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
{% block heading %}{{ stat.displayname }}{% endblock %}
{% block content %}
    <p>(map goes here!)</p>
{% for row in query %}
<p>{{ row }}</p>
{% endfor %}
{% endblock %}
</body>
<footer><div style="text-align: center;"><a href="{{ url_for('feedback') }}">Send Feedback</a></div></footer>
</html>
