<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HealthCarolina - Determinants of Health in North Carolina</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
{% block heading %}{{county.county}} County{% endblock %}
{% block content %}
    <p><img src="/static/img/{{county.county}}_County.png" style="float:left;width:500px;"/></p>
{% for row in query %}
<p>{{ row }}</p>
{% endfor %}
{% endblock %}
</body>
<footer><div style="text-align: center;"><a href="{{ url_for('feedback') }}">Send Feedback</a></div></footer>
</html>
