<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found - HealthCarolina</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
{% block heading %}We couldn't find any {{ what.type }} in {{ county.county }} County.{% endblock %}
{% block content %}
    <p>You may want to check out nearby counties:</p>
    {% for nbr in neighbors %}
        <p><a href="{{ url_for('facilities', cty=nbr.neighbor, ft=type)}})">{{ nbr.nbr }}</a></p>
    {% endfor %}
{% endblock %}
</body>
</html>
